:root{
    --primary: #6b6868;
}

.primary{
    color: var(--primary);
}

.bg-primary{
    background-color: var(--primary);
}

.container
{
    width: 86%;
    margin: auto;
}


.active{
    font-weight: 600;
    color: aqua;
}
